@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&family=Poppins:wght@100;200;400;700&display=swap');

:root {
  --preto-claro: #454545b9;
  --preto: #000000;
  --brancoAlaranjado: #FFE6C7;
  --poppins: 'Poppins', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
}

body {
  background:  url("../img/bgfundo.jpg");
  font-family: var(--montserrat);
}

.cadastroContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.cadastroContent{
  display: flex;
  padding: 1em 2em;
  color: var(--brancoAlaranjado);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background-color: var(--preto-claro);
  margin-right: 5em;
  height: 70%;
  width: 50%;
}

.cadastroTitle{
  width: 100%;
  border-bottom: 1px solid white;
}

.campos{
  width: 100%;
}

.cadastroForm{
  color: white;
  font-size: 20px;
  margin-top: 2em;
  width: 100%;
}

.cadastroInput{
  color:white;
  margin-left: 4em;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid white;
}

.boasVindas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  padding: 1em;
}

.boasVindas h2{
  position: absolute;
  top: 45%;
}

.boasVindas .voltar{
  position: absolute;
  top: 25%;
}

.voltar{
  font-weight: 700;
  border-radius: 10px;
  padding: 1em 2em;
  cursor: pointer;
}

.voltarLink{
  color: var(--preto);
  text-decoration: none;
}

.cadastra{
  font-weight: 700;
  border-radius: 10px;
  padding: 1em 2em;
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 70%;
}